<!DOCTYPE html>
<html>
<head>
  <title>CapitalOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= Gon::Base.render_data %>

<%= yield %>

</body>
</html>
